/*-----------------------------------------------------------------------------------

	Shortcodes: faqs.scss

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------
	FAQ List
-----------------------------------------------------------------*/
.faqlist li {
  margin-bottom: 5px;
  font-size: 15px;
}
.faqlist li a {
  color: #444;
}
.faqlist li a:hover {
  color: #FFC107 !important;
}
