/*-----------------------------------------------------------------------------------

	Shortcodes: misc.scss

-----------------------------------------------------------------------------------*/
/* Infinity Scroll - Message Style
-----------------------------------------------------------------*/
#infscr-loading,
#portfolio-ajax-loader {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  line-height: 48px;
  font-size: 1.5rem;
  color: #FFF;
  text-align: center;
}
#infscr-loading img,
#portfolio-ajax-loader img {
  display: none;
  width: 24px;
  height: 24px;
  margin: 12px;
}

#portfolio-ajax-loader {
  display: none;
}
#portfolio-ajax-loader img {
  display: block;
}

.page-load-status {
  position: relative;
  display: none;
  padding: 30px 0;
}
.page-load-status .css3-spinner-ball-pulse-sync > div {
  background-color: #333;
}

/* ----------------------------------------------------------------
	Quotes & Blockquotes
-----------------------------------------------------------------*/
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1.125rem;
  border-left: 5px solid #EEE;
}
blockquote p {
  margin-bottom: 15px;
}
blockquote.float-left {
  max-width: 300px;
  margin: 5px 20px 10px 0;
  padding-right: 0;
}
blockquote.float-right {
  max-width: 300px;
  margin: 5px 0 10px 20px;
  padding-left: 0;
}

.blockquote-reverse {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #EEE;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse::before {
  content: "\e7ae";
  left: auto;
  right: 0;
}

.quote {
  border: none !important;
  position: relative;
}
.quote p {
  position: relative;
}
.quote::before {
  font-family: 'font-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  content: "\e7ad";
  position: absolute;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 42px;
  top: 0;
  left: 0;
  color: #EEE;
}

/* ----------------------------------------------------------------
	Dropcaps & Highlights
-----------------------------------------------------------------*/
.dropcap {
  float: left;
  font-size: 42px;
  line-height: 1;
  margin: 0 5px 0 0;
  text-transform: uppercase;
}

.highlight {
  padding: 2px 5px;
  background-color: #444;
  color: #FFF;
  border-radius: 2px;
}

/* ----------------------------------------------------------------
	Text Rotater
-----------------------------------------------------------------*/
.text-rotater .t-rotate:not(.morphext) {
  display: none;
}
.text-rotater .t-rotate > .animated {
  display: inline-block;
}

/* ----------------------------------------------------------------
	Overlays
-----------------------------------------------------------------*/
.bg-overlay,
.bg-overlay-bg,
.bg-overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bg-overlay {
  z-index: 5;
}
.bg-overlay [data-hover-animate]:not(.animated) {
  opacity: 0;
}
.bg-overlay-content {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 20px;
}
.bg-overlay-bg {
  background-color: rgba(255, 255, 255, 0.85);
}

.dark .bg-overlay-bg,
.bg-overlay-bg.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-overlay-mask {
  opacity: 0.85;
  top: auto;
  bottom: 0;
  height: auto;
  padding: 40px 15px 15px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.85)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
}

.overlay-trigger-icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 0.25rem;
  font-size: 1.125rem;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  transition: all .3s ease;
}

.overlay-trigger-icon .icon-line-play {
  position: relative;
  left: 2px;
}

.overlay-trigger-icon.size-sm {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 0.5rem;
  font-size: 0.875rem;
}

.overlay-trigger-icon.size-lg {
  width: 64px;
  height: 64px;
  line-height: 64px;
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

/* ----------------------------------------------------------------
	Google Maps
-----------------------------------------------------------------*/
.gmap {
  position: relative;
  width: 100%;
  height: 450px;
}
.gmap img {
  max-width: none !important;
}

.gm-style .gm-style-iw h3 span {
  font-size: inherit;
  font-family: inherit;
}

#map-overlay {
  position: relative;
  padding: 100px 0;
}
#map-overlay .gmap {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

/* ----------------------------------------------------------------
	Google Custom Search
-----------------------------------------------------------------*/
#content .cse .gsc-control-cse,
#content .gsc-control-cse,
#content .gsc-above-wrapper-area,
#content .gsc-adBlock,
#content .gsc-thumbnail-inside,
#content .gsc-url-top,
#content .gsc-table-result,
#content .gsc-webResult,
#content .gsc-result {
  padding: 0 !important;
}
#content .gsc-selected-option-container {
  width: auto !important;
}
#content .gsc-result-info {
  padding-left: 0 !important;
}
#content .gsc-above-wrapper-area-container,
#content .gsc-table-result {
  margin-bottom: 10px;
}
#content .gcsc-branding {
  display: none;
}
#content .gsc-results,
#content .gsc-webResult {
  width: 100% !important;
}
#content .gs-no-results-result .gs-snippet,
#content .gs-error-result .gs-snippet {
  margin: 0 !important;
}

/* ----------------------------------------------------------------
	Magazine Specific Classes
-----------------------------------------------------------------*/
.top-advert {
  padding: 5px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.top-advert a,
.top-advert img {
  display: block;
}

.bnews-title {
  display: block;
  float: left;
  margin-top: 2px;
  padding-top: .3em;
  text-transform: uppercase;
}

.bnews-slider {
  float: left;
  width: 970px;
  margin-left: 20px;
  min-height: 0;
}

/* ----------------------------------------------------------------
	Go To Top
-----------------------------------------------------------------*/
#gotoTop {
  display: none;
  z-index: 599;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  line-height: 36px;
  text-align: center;
  color: #FFF;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 2px;
}
body:not(.device-touch) #gotoTop {
  transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
}
.stretched #gotoTop {
  right: 30px;
  bottom: 30px;
}
#gotoTop:hover {
  background-color: #FFC107;
}
@media (max-width: 767.98px) {
  #gotoTop {
    display: none !important;
  }
}

/* ----------------------------------------------------------------
	Read More
-----------------------------------------------------------------*/
.read-more-wrap {
  position: relative;
  overflow: hidden;
  -webkit-transition: height .5s ease;
  transition: height .5s ease;
}
.read-more-mask {
  position: absolute;
  z-index: 9;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  height: 35%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
}
.read-more-trigger {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.read-more-trigger i {
  position: relative;
  top: 1px;
  margin-left: 3px;
}
.read-more-wrap .read-more-trigger {
  position: absolute;
  display: block !important;
  z-index: 10;
  top: auto;
  bottom: 5px;
  left: 5px;
  margin: 0 !important;
}

/* ----------------------------------------------------------------
	GDPR Settings
-----------------------------------------------------------------*/
.gdpr-settings {
  position: fixed;
  max-width: calc(100% - 2rem);
  margin-bottom: 1rem;
  border-radius: 4px;
  top: auto;
  bottom: 0;
  left: 1rem;
  opacity: 0;
  padding: 3rem;
  z-index: 999;
  background-color: #EEE;
  transition: all .3s ease;
}
.gdpr-settings-sm {
  max-width: 30rem;
  margin-right: 1rem;
}
.gdpr-settings-sm.gdpr-settings-right {
  left: auto;
  right: 1rem;
  margin-right: 0;
  margin-left: 1rem;
}
.gdpr-settings.dark {
  background-color: #111;
}

/* ----------------------------------------------------------------
	Error 404
-----------------------------------------------------------------*/
.error404 {
  display: block;
  font-size: 18vw;
  font-weight: 700;
  color: #DDD;
  line-height: 1;
  letter-spacing: 4px;
}
.error404-wrap .container {
  z-index: 7;
}
.error404-wrap .error404 {
  line-height: 0.9;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 19vw;
  color: #FFF !important;
  opacity: 0.2;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.error404-wrap .heading-block h4 {
  font-weight: 300;
  margin-bottom: 8px;
}
.error404-wrap .heading-block span {
  font-size: 1.125rem;
}
.error404-wrap form {
  max-width: 500px;
}

/* ----------------------------------------------------------------
	Landing Pages
-----------------------------------------------------------------*/
.landing-wide-form {
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 3px;
}

.landing-form-overlay {
  position: absolute;
  z-index: 10;
  top: auto;
  left: auto;
  right: 0;
  bottom: -154px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px 3px 0 0;
}

.landing-video {
  z-index: 1;
  width: 560px;
  height: 315px;
  margin: 22px 0 0 95px;
  overflow: hidden;
}

.landing-promo h3 {
  font-size: 1.75rem;
}

.landing-promo > .container > span {
  font-size: 1.125rem;
}

/* Navigation Tree
-----------------------------------------------------------------*/
.nav-tree {
  position: relative;
  margin-bottom: 40px;
}
.nav-tree ul {
  margin-bottom: 0;
  list-style: none;
}
.nav-tree ul ul {
  display: none;
}
.nav-tree ul ul a {
  font-size: 12px;
  padding: 6px 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  padding-left: 20px;
}
.nav-tree ul ul a i.icon-angle-down {
  font-size: 12px;
}
.nav-tree ul ul ul a {
  padding-left: 40px;
}
.nav-tree ul ul ul ul a {
  padding-left: 60px;
}
.nav-tree ul ul ul ul ul a {
  padding-left: 80px;
}
.nav-tree > ul {
  margin: -8px 0;
}
.nav-tree li {
  position: relative;
}
.nav-tree li a {
  display: block;
  padding: 8px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}
.nav-tree li i {
  font-size: 0.875rem;
  width: 16px;
  text-align: center;
}
.nav-tree li i:not(.icon-angle-down) {
  margin-right: 8px;
  position: relative;
  top: 1px;
}
.nav-tree li i.icon-angle-down {
  width: auto;
  font-size: 12px;
  margin-left: 2px;
}
.nav-tree li:hover > a, .nav-tree li.current > a, .nav-tree li.active > a {
  color: #FFC107 !important;
}
.nav-tree li.current > ul {
  display: block;
}

/* ----------------------------------------------------------------
	Wedding
-----------------------------------------------------------------*/
.wedding-head {
  position: relative;
  line-height: 1;
  font-size: 80px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-family: "Poppins", sans-serif;
}
.wedding-head .first-name,
.wedding-head .last-name,
.wedding-head .and {
  display: inline-block;
  margin-right: 15px;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.wedding-head .last-name {
  margin: 0 0 0 15px;
  text-align: left;
}
.wedding-head .first-name span,
.wedding-head .last-name span {
  display: block;
  margin-top: 10px;
  font-size: 56px;
  font-weight: 400;
  font-style: italic;
  font-family: "PT Serif", serif;
  text-transform: none;
}
.wedding-head .and {
  margin: 0;
  font-size: 200px;
  font-family: 'Times New Roman', serif;
}

/* ------------------------------------------------------
	SWITCH
--------------------------------------------------------------  */
.switch-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* --------------------------------------------------------------
	SWITCH 1 - ROUND
----------------------------------------------------------------- */
input.switch-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #DDD;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
input.switch-toggle-round + label::before, input.switch-toggle-round + label::after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.switch-toggle-round + label::before {
  right: 1px;
  background-color: #F1F1F1;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.switch-toggle-round + label::after {
  width: 28px;
  background-color: #FFF;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.switch-toggle-round:checked + label::before {
  background-color: #FFC107;
}
input.switch-toggle-round:checked + label::after {
  margin-left: 30px;
}

/* --------------------------------------------------------------
	SWITCH 1 - ROUND- MINI
----------------------------------------------------------------- */
input.switch-rounded-mini.switch-toggle-round + label {
  padding: 1px;
  width: 32px;
  height: 16px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
input.switch-rounded-mini.switch-toggle-round + label::before {
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
input.switch-rounded-mini.switch-toggle-round + label::after {
  width: 15px;
}
input.switch-rounded-mini.switch-toggle-round:checked + label::after {
  margin-left: 15px;
}

/* --------------------------------------------------------------
	SWITCH 1 - ROUND- LARGE
----------------------------------------------------------------- */
input.switch-rounded-large.switch-toggle-round + label {
  width: 90px;
  height: 45px;
  -webkit-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
}
input.switch-rounded-large.switch-toggle-round + label::before {
  -webkit-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
}
input.switch-rounded-large.switch-toggle-round + label::after {
  width: 43px;
}
input.switch-rounded-large.switch-toggle-round:checked + label::after {
  margin-left: 45px;
}

/* --------------------------------------------------------------
	SWITCH 1 - ROUND- XLARGE
----------------------------------------------------------------- */
input.switch-rounded-xlarge.switch-toggle-round + label {
  width: 120px;
  height: 60px;
  -webkit-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.switch-rounded-xlarge.switch-toggle-round + label::before {
  -webkit-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.switch-rounded-xlarge.switch-toggle-round + label::after {
  width: 58px;
}
input.switch-rounded-xlarge.switch-toggle-round:checked + label::after {
  margin-left: 60px;
}

/* -----------------------------------------------------------
	SWITCH 2 - ROUND FLAT
-------------------------------------------------------------- */
input.switch-toggle-flat + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #DDD;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.switch-toggle-flat + label::before, input.switch-toggle-flat + label::after {
  display: block;
  position: absolute;
  content: "";
}
input.switch-toggle-flat + label::before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #FFF;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.switch-toggle-flat + label::after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 22px;
  background-color: #DDD;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  border-radius: 22px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.switch-toggle-flat:checked + label {
  background-color: #FFC107;
}
input.switch-toggle-flat:checked + label::after {
  margin-left: 30px;
  background-color: #FFC107;
}

/* -----------------------------------------------------------
	SWITCH 2 - FLAT - MINI
-------------------------------------------------------------- */
input.switch-flat-mini.switch-toggle-flat + label {
  padding: 1px;
  width: 32px;
  height: 16px;
  -webkit-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}
input.switch-flat-mini.switch-toggle-flat + label::before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  -webkit-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}
input.switch-flat-mini.switch-toggle-flat + label::after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
input.switch-flat-mini.switch-toggle-flat:checked + label::after {
  margin-left: 16px;
}

/* -----------------------------------------------------------
	SWITCH 2 - FLAT - LARGE
-------------------------------------------------------------- */
input.switch-flat-large.switch-toggle-flat + label {
  width: 90px;
  height: 45px;
  -webkit-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
}
input.switch-flat-large.switch-toggle-flat + label::before {
  -webkit-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
}
input.switch-flat-large.switch-toggle-flat + label::after {
  width: 37px;
  -webkit-border-radius: 37px;
  -o-border-radius: 37px;
  border-radius: 37px;
}
input.switch-flat-large.switch-toggle-flat:checked + label::after {
  margin-left: 45px;
}

/* -----------------------------------------------------------
	SWITCH 2 - FLAT - XLARGE
-------------------------------------------------------------- */
input.switch-flat-xlarge.switch-toggle-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  -webkit-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.switch-flat-xlarge.switch-toggle-flat + label::before {
  -webkit-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.switch-flat-xlarge.switch-toggle-flat + label::after {
  width: 52px;
  -webkit-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
}
input.switch-flat-xlarge.switch-toggle-flat:checked + label::after {
  margin-left: 60px;
}
