/*-----------------------------------------------------------------------------------

	Shortcodes: process-steps.scss

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Process Steps
-----------------------------------------------------------------*/
.process-steps {
  margin: 0 0 40px;
  list-style: none;
}
.process-steps li {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.process-steps li .i-circled {
  margin-bottom: 0 !important;
}
.process-steps li .i-bordered {
  background-color: #FFF;
}
.process-steps li.active h5, .process-steps li.ui-tabs-active h5 {
  font-weight: 600;
  color: #FFC107;
}
.process-steps li.active a, .process-steps li.ui-tabs-active a {
  background-color: #FFC107 !important;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #FFC107 !important;
}
@media (min-width: 992px) {
  .process-steps li::before, .process-steps li::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    margin-left: -26px;
    width: 50%;
    border-top: 1px dashed #DDD;
  }
  .process-steps li::after {
    left: auto;
    right: 0;
    margin: 0 -26px 0 0;
  }
  .process-steps li:first-child::before, .process-steps li:last-child::after {
    display: none;
  }
  .process-steps li h5 {
    margin: 15px 0 0 0;
    font-size: 1rem;
    font-weight: 300;
  }
}
