@charset "UTF-8";
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/
.widget {
  position: relative;
  margin-top: 50px;
  /* Widget - Links
  -----------------------------------------------------------------*/
  /* Widget - Testimonial & Twitter
  -----------------------------------------------------------------*/
}
.widget p {
  line-height: 1.7;
}
.sidebar-widgets-wrap .widget {
  padding-top: 50px;
  border-top: 1px solid white;
}
.sidebar-widgets-wrap .widget:first-child {
  padding-top: 0;
  border-top: 0;
}
.sidebar-widgets-wrap .widget > h4 {
  letter-spacing: 3px;
}
.widget:first-child {
  margin-top: 0;
}
.widget > h4 {
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.widget_nav_menu ul,
.widget_nav_menu li, .widget_links ul,
.widget_links li, .widget_meta ul,
.widget_meta li, .widget_archive ul,
.widget_archive li, .widget_recent_comments ul,
.widget_recent_comments li, .widget_recent_entries ul,
.widget_recent_entries li, .widget_categories ul,
.widget_categories li, .widget_pages ul,
.widget_pages li, .widget_rss ul,
.widget_rss li {
  list-style: none;
  margin: 0;
}
.widget_nav_menu li, .widget_links li, .widget_meta li, .widget_archive li, .widget_recent_comments li, .widget_recent_entries li, .widget_categories li, .widget_pages li, .widget_rss li {
  padding: 4px 0;
  font-size: 15px;
}
.widget_nav_menu li a, .widget_links li a, .widget_meta li a, .widget_archive li a, .widget_recent_comments li a, .widget_recent_entries li a, .widget_categories li a, .widget_pages li a, .widget_rss li a {
  display: inline-block;
  padding: 0 3px 0 12px;
  border: none !important;
  color: #444;
}
.widget_nav_menu li a:hover, .widget_links li a:hover, .widget_meta li a:hover, .widget_archive li a:hover, .widget_recent_comments li a:hover, .widget_recent_entries li a:hover, .widget_categories li a:hover, .widget_pages li a:hover, .widget_rss li a:hover {
  color: #000;
}
.widget_nav_menu:not(.widget-li-noicon) li::before, .widget_links:not(.widget-li-noicon) li::before, .widget_meta:not(.widget-li-noicon) li::before, .widget_archive:not(.widget-li-noicon) li::before, .widget_recent_comments:not(.widget-li-noicon) li::before, .widget_recent_entries:not(.widget-li-noicon) li::before, .widget_categories:not(.widget-li-noicon) li::before, .widget_pages:not(.widget-li-noicon) li::before, .widget_rss:not(.widget-li-noicon) li::before {
  content: "";
  font-family: "font-icons";
  display: inline-block;
  position: relative;
  top: 1px;
  left: 0;
}
.widget_nav_menu.widget-li-noicon li a, .widget_links.widget-li-noicon li a, .widget_meta.widget-li-noicon li a, .widget_archive.widget-li-noicon li a, .widget_recent_comments.widget-li-noicon li a, .widget_recent_entries.widget-li-noicon li a, .widget_categories.widget-li-noicon li a, .widget_pages.widget-li-noicon li a, .widget_rss.widget-li-noicon li a {
  padding-left: 0;
}
.widget_nav_menu > ul, .widget_links > ul, .widget_meta > ul, .widget_archive > ul, .widget_recent_comments > ul, .widget_recent_entries > ul, .widget_categories > ul, .widget_pages > ul, .widget_rss > ul {
  margin-top: -4px !important;
}
.widget_nav_menu > ul > li:first-child, .widget_links > ul > li:first-child, .widget_meta > ul > li:first-child, .widget_archive > ul > li:first-child, .widget_recent_comments > ul > li:first-child, .widget_recent_entries > ul > li:first-child, .widget_categories > ul > li:first-child, .widget_pages > ul > li:first-child, .widget_rss > ul > li:first-child {
  border-top: 0 !important;
}
.widget_nav_menu ul ul, .widget_links ul ul, .widget_meta ul ul, .widget_archive ul ul, .widget_recent_comments ul ul, .widget_recent_entries ul ul, .widget_categories ul ul, .widget_pages ul ul, .widget_rss ul ul {
  margin-left: 15px;
}
.widget_recent_comments li::before {
  content: "";
}
.widget .testimonial.no-image .testi-image {
  display: none;
}
.widget .testimonial.twitter-scroll .testi-image {
  margin-right: 10px;
  width: 28px;
  height: 28px;
}
.widget .testimonial.twitter-scroll .testi-image a,
.widget .testimonial.twitter-scroll .testi-image img,
.widget .testimonial.twitter-scroll .testi-image i {
  width: 28px;
  height: 28px;
}
.widget .testimonial.twitter-scroll .testi-image i {
  background-color: #eeeeee;
  line-height: 28px;
  font-size: 0.875rem;
  color: #888888;
}
.widget .testimonial:not(.twitter-scroll) .testi-image, .widget .testimonial:not(.twitter-scroll) .testi-image a, .widget .testimonial:not(.twitter-scroll) .testi-image img {
  width: 42px;
  height: 42px;
}
.widget .testimonial p {
  font-size: 0.875rem;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar-widgets-wrap {
    position: relative;
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -20px -40px -20px;
  }
  .sidebar-widgets-wrap .widget {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0 0 40px 0;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 0;
  }
}
/* Widget - Quick Contact Form
-----------------------------------------------------------------*/
.quick-contact-widget.form-widget .form-control,
.quick-contact-widget.form-widget .input-group,
.quick-contact-widget.form-widget .sm-form-control {
  margin-bottom: 10px;
}
.quick-contact-widget.form-widget .form-control {
  margin-bottom: 0;
}

.quick-contact-widget.form-widget form,
#template-contactform {
  position: relative;
}

/* Newsletter Widget
-----------------------------------------------------------------*/
.subscribe-widget h5 {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5;
}

/* Twitter Feed Widget
-----------------------------------------------------------------*/
.widget-twitter-feed li {
  margin: 15px 0 0 0;
}
.widget-twitter-feed li:first-child {
  margin-top: 0;
}
.widget-twitter-feed small {
  display: block;
  margin-top: 3px;
}
.widget-twitter-feed a:not(:hover) {
  color: #999999;
}
.widget-twitter-feed .twitter-feed:not(.twitter-feed-avatar) a.twitter-avatar,
.widget-twitter-feed .twitter-feed.twitter-feed-avatar i.icon-twitter {
  display: none;
}
.widget-twitter-feed .twitter-feed-avatar {
  margin-left: 44px;
}
.widget-twitter-feed .twitter-feed-avatar > li a.twitter-avatar {
  display: block;
  position: absolute;
  left: -44px;
  text-align: center;
  top: 2px;
  width: 32px;
  height: 32px;
}
.widget-twitter-feed a.twitter-avatar img {
  border-radius: 50%;
}

/* Widget Filter Links
-----------------------------------------------------------------*/
.widget-filter-links ul {
  list-style: none;
  margin-bottom: 0;
}
.widget-filter-links .widget-filter-reset {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  font-size: 12px;
  line-height: 22px;
}
.widget-filter-links .widget-filter-reset a {
  color: red !important;
}
.widget-filter-links .widget-filter-reset.active-filter {
  display: none;
}
.widget-filter-links:not(:first-child) .widget-filter-reset {
  top: 50px;
}
.widget-filter-links li {
  position: relative;
  font-size: 15px;
  line-height: 24px;
}
.widget-filter-links li:not(:first-child) {
  margin-top: 10px;
}
.widget-filter-links li a {
  display: block;
  color: #444;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.widget-filter-links li span {
  position: absolute;
  top: 1px;
  left: auto;
  right: 0;
  font-size: 11px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #777777;
  background-color: #eeeeee;
  border-radius: 50%;
}
.widget-filter-links li:hover a {
  color: #777777;
}
.widget-filter-links li.active-filter a {
  font-weight: 700;
}
.widget-filter-links li.active-filter span {
  color: #FFF !important;
  background-color: #FFC107 !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Tag Cloud
-----------------------------------------------------------------*/
.tagcloud {
  margin-bottom: -2px;
}
.tagcloud a {
  display: block;
  float: left;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 3px 6px;
  border: 1px solid #e5e5e5;
  font-size: 13px !important;
  color: #666666;
  border-radius: 2px;
}
body:not(.device-touch) .tagcloud a {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.tagcloud a:hover {
  border-color: #FFC107 !important;
  color: #FFC107 !important;
}
